<form [formGroup]="form" class="text-center" style="color: #757575;" action="#!">

  <div class="row">
    <div class="md-form col-md-6">
      <input type="number" formControlName="greutate" class="form-control">
      <label>Greutate</label>
    </div>
    <div class="md-form col-md-6">
      <input type="number" formControlName="talie" class="form-control">
      <label>Talie</label>
    </div>
  </div>
  
  <div class="row">
    <div class="md-form col-md-6">
      <input type="number" formControlName="inaltime" class="form-control">
      <label>Inaltime</label>
    </div>
    <div class="md-form col-md-6">
      <input type="number" formControlName="sex" class="form-control">
      <label>Sex</label>
    </div>
  </div>

  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="stareaGenerala" rows="3"></textarea>
      <label>Starea Generala</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="nutritie" rows="3"></textarea>
      <label>Nutritie</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="constienta" rows="3"></textarea>
      <label>Constienta</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="facies" rows="3"></textarea>
      <label>Facies</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="tegumente" rows="3"></textarea>
      <label>Tegumente</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="mucoase" rows="3"></textarea>
      <label>Mucoase</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="fanere" rows="3"></textarea>
      <label>Fanere</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="tesutConjunctiv" rows="3"></textarea>
      <label>Tesut Conjunctiv</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="sistemGanglionar" rows="3"></textarea>
      <label>Sistem Ganglionar</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="sistemMuscular" rows="3"></textarea>
      <label>Sistem Muscular</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="sistemOsteoArticular" rows="3"></textarea>
      <label>Sistem Osteo Articular</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="aparatRespirator" rows="3"></textarea>
      <label>Aparat Respirator</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="aparatCardiovascular" rows="3"></textarea>
      <label>Aparat Cardiovascular</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="aparatDigestiv" rows="3"></textarea>
      <label>Aparat Digestiv</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="ficatSplina" rows="3"></textarea>
      <label>Ficat Splina</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="aparatUroGeneral" rows="3"></textarea>
      <label>Aparat Uro General</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="sistemEndocrin" rows="3"></textarea>
      <label>Sistem Endocrin</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="motiveleInternarii" rows="3"></textarea>
      <label>Motivele Internarii</label>
    </div>
  </div>
  <div class="row">
    <div class="md-form col-md-12">
      <textarea placeholder=" " class="form-control md-textarea" formControlName="istoriculBolii" rows="3"></textarea>
      <label>Istoricul Bolii</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-outline-danger btn-rounded btn-block z-depth-0 my-4 waves-effect" (click)="onCancel()"> Cancel </button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit" (click)="onSubmit()">Process</button>
    </div>
  </div>
</form>